<div class="alert alert-danger text-center p-5 display-3" role="alert">
    Az oldal karbantartás allat 
   </div>
<div *ngIf="soap">

    <div class="container oth">
    <h2 class="text-center mt-4">{{soap.name | uppercase}} Details</h2>
    <div class="text-center mt-4"><span>id: </span>{{soap.id}}</div>
    <div class="text-center mt-4">
        <label>name:
            <input class="col" [(ngModel)]="soap.name" placeholder="name" />
            description:
            <input class="col" [(ngModel)]="soap.description" placeholder="description" />
        </label>
    </div>
<div class="container text-center">
    <button class="ml-2 btn-primary" (click)="save()">save</button>
<button class="ml-2 btn-primary" (click)="goBack()">go back</button>
<button class="ml-2 btn-primary" (click)="delete(soap.id)">delete</button>
</div>
</div>
</div>


