
<!--Video-->
<div class="header-video">
    <video  autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="header-video__teaser-video" class="header-video__teaser-video">
        <source src="../../../assets/bvideos/video.mp4" type="video/mp4">
    </video>
    <!--HeroBox-->
    <div class="container herobox">
        <div class="row justify-content-center">
            <div id="both_hero" class="col">
                <p class="text-center" id="hero_text_center"> Üdvőzli a nature cosmetics</p>
                <p class="text-center" id="hero_text_center_two">S&amp;S ahol a természeteség vár önnre </p>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="#sectionone"><button type="button"
                                        class="btn btns border-0 btn-secondary mr-2">S&amp;S</button></a>
                                <a href="#sectiontwo"><button type="button"
                                        class="btn btns border-0 btn-secondary mr-2">Termékeink</button></a>
                                <a href="#sectionthr"><button type="button"
                                        class="btn btns border-0 btn-secondary mr-2">Akciók</button> </a>
                                <button type="button" class="btn btns  border-0 btn-secondary mr-2">Célunk</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="alert alert-danger text-center p-5 display-3" role="alert">
    Az oldal karbantartás allat 
   </div>

<!--First section-->
<section class="slide-in-fwd-left bgpic">
    <div class="row  justify-content-center mt-5">
        <div class="tex-center">
            <blockquote class="blockquote text-center">
                <p id="sectionone" class="mb-0">Miért az S&S?</p>
            </blockquote>
        </div>
    </div>
    <div class="container">
        <p class="sectionones p-2"><img class="contimg" src="../../../assets/img/Nevtelen1.png"> Biológus, és klinikai
            laboratóriumi
            kutató vagyok, az S&S természetes
            kozmetikumok manufaktúra megálmodója, megalkotója. A két S betű férjem és jómagam
            vezetéknevéből ered. A természet közelsége mindig is a szívem csücske volt. Már az általános
            iskolában is a biológia különös helyet kapott a szívemben, majd ahogy nőttem egyre jobban
            rajzolódott ki szemem előtt, hogy ez az én életutam. A természetben levés, az élőlények
            szemlélése, egyre bővebben ható megismerése nyújt számomra pihenést. A biológia egy óriási
            témakört felölelő tudományág, melyben az ember sosem mondhatja azt, hogy mindent tudok.
            Engem többek között ez inspirál. Újabb-újabb növények hatóanyagainak megismerése, sőt ennél
            is tovább megyek, termesztése is. Legfőbb célom, hogy minél inkább önellátó legyek. A saját
            kertemből szedhessem a növényeket, én magam száríthassam, dolgozhassam fel őket. Így minden
            egyes lépést monitorozhatok, pontosan tudom volt-e permetezve, tápoldatozva, illetve, hogy
            mégis milyen földben termett, milyen környezeti körülmények között. Illetve, így az
            ökológiai lábnyomomat is csökkenthetem, hiszen nem boltban vásárolt, előre csomagolt
            terméket veszek, illetve nem is internetről rendelem, melyet a futárszolgálat üzemanyagot
            használva kézbesít hozzám, plusz még egy dobozba becsomagolva. </p>
    </div>
    <div class="container">
        <div class="text-center pr-3 text-uppercase myclass_1"> katintson a nyílra termékeink egy részért <a
                href="#sectiontwo"><button type="button"
                    class="btn border-0 pl-2 downarrows"><span>&#8595;</span></button></a></div>
    </div>
</section>

<div class="container_next"></div>

<!--Reclame-->
<div class="color-change-2x ">
    <div class="text-center slide-in-right reclame"> Ha önnek is fontos a természet akkor támogathat minket ha
        szeretne, az alábi <a id="support_link" href="#">linken</a></div>
</div>
<div class="container_next mb-3"></div>
<!--Second section-->
<section class="slide-in-left">
    <div class="col">
        <div class="row justify-content-center">
            <div class="tex-center">
                <blockquote class="blockquote mb-5 pb-5 text-center">
                    <p id="sectiontwo" class="mb-0 pl-2 pr-2">Termékeink</p>
                </blockquote>
            </div>
        </div>
        <div class="card-deck justify-content-center">
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/soap2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Szapanok</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center">
                            Fontosabb tudni valok:
                            <ol class="text-left">
                                <li>állatkísérlet mentes termékek</li>
                                <li> mesterséges színezék mentesek</li>
                                <li>tartósítószer mentesek</li>
                                <li>bőrbarát termékek</li>
                                <li>vegyszermentes termékek</li>
                                <li>tőlünk vásárolt termékekkel az ökológiai lábnyomunk csökkentését segíti elő</li>
                                <li>műanyagmentesség</li>
                                <li>pálmaolajmentes termékek</li>
                                <li>hazai termelők támogatása</li>
                            </ol>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Minden termékünk blogolásként árusított</small>
                        </div>
                        <a href="#" class="btn own_button float-right mr-3 mt-3 border-0 btn-primary">Megnézem</a>
                    </div>
                </div>
            </div>
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/lips.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Ajakápolok</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center"> Fontosabb tudni valok:
                            <ol class="text-left">
                                <li>állatkísérlet mentes termékek</li>
                                <li> mesterséges színezék mentesek</li>
                                <li>tartósítószer mentesek</li>
                                <li>bőrbarát termékek</li>
                                <li>vegyszermentes termékek</li>
                                <li>tőlünk vásárolt termékekkel az ökológiai lábnyomunk csökkentését segíti elő</li>
                                <li>műanyagmentesség</li>
                                <li>pálmaolajmentes termékek</li>
                                <li>hazai termelők támogatása</li>
                            </ol>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Minden termékünk blogolásként árusított</small>
                        </div>
                        <a href="#" class="btn own_button border-0 float-right mr-3 mt-3 btn-primary">Megnézem</a>
                    </div>
                </div>
            </div>
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/corp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Krémek</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center"> Fontosabb tudni valok:
                            <ol class="text-left">
                                <li>állatkísérlet mentes termékek</li>
                                <li> mesterséges színezék mentesek</li>
                                <li>tartósítószer mentesek</li>
                                <li>bőrbarát termékek</li>
                                <li>vegyszermentes termékek</li>
                                <li>tőlünk vásárolt termékekkel az ökológiai lábnyomunk csökkentését segíti elő</li>
                                <li>műanyagmentesség</li>
                                <li>pálmaolajmentes termékek</li>
                                <li>hazai termelők támogatása</li>
                            </ol>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Minden termékünk blogolásként árusított</small>
                        </div>
                        <a href="#" class="btn own_button border-0 float-right mr-3 mt-3 btn-primary">Megnézem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center text-uppercase h3"> katintson Az akcioinkért a nyílra <a href="#sectionthr"><button
                        type="button" class="btn border-0 pl-2 downarrows"> <span>&#8595;</span></button></a></div>
        </div>
        <div class="arrow-right slide-in-right"></div>
    </div>
</section>
<div class="container_next mb-3"></div>
<!--reclame-->
<div class="color-change-2x">
    <div class="text-center slide-in-right reclame"> S&S ahol a természet vár önnre görgesen lejebb az akcioinkért
        de ha érdekli önt a célunk vagy a történetünk válaszon a két gomb közül
        <br>
        <button type="button" class="btn own_button mr-2 btn-sm">Történetünk</button>
        <button type="button" class="btn own_button ml-2 btn-sm">célunk</button>
    </div>
</div>
<div class="container_next mb-3"></div>
<!--thirty section-->
<section class="slide-in-left mb-5">
    <div class="col">
        <div class="row justify-content-center">
            <div class="tex-center">
                <blockquote class="blockquote mb-5 pb-5 text-center">
                    <p id="sectionthr" class="mb-0 pl-2 pr-2">Akcioink</p>
                </blockquote>
            </div>
        </div>
        <div class="card-deck justify-content-center">
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/corp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Mámor</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center">Összetevők:
                            <ul class="text-left">
                                <li>kókuszzsír</li>
                                <li>sertészsír</li>
                                <li>extra szűz olivaolaj</li>
                                <li>kakaóvaj</li>
                                <li>sheavaj</li>
                                <li>disznózsír</li>
                                <li>Himalayai só</li>
                                <li>teafa illóolaj</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Az Akcioink már csak 3 napig tart</small>
                        </div>
                        <a href="#" class="btn own_button float-right mr-3 mt-3 border-0 btn-primary">Érdekel</a>
                    </div>
                </div>
            </div>
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/action_1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Ében</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center">Összetevők:
                            <ul class="text-left">
                                <li>kókuszzsír</li>
                                <li>sertészsír</li>
                                <li>olivaolaj</li>
                                <li>kakaóvaj</li>
                                <li>sheavaj</li>
                                <li>holt tengeri iszap</li>
                                <li>indigo por</li>
                                <li>teafa és levendula illóolaj</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Az Akcioink már csak 3 napig tart</small>
                        </div>
                        <a href="#" class="btn own_button border-0 float-right mt-3 mr-3 btn-primary">Érdekel</a>
                    </div>
                </div>
            </div>
            <div class="card scard border-0">
                <img class="card-img-top mx-auto card_img rounded-circle" src="../../../assets/img/Action_2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        <div class="product">Fellegek</div>
                    </h2>
                    <div class="bgc p-2">
                        <div class="card-text own_text text-center">Összetevők:
                            <ul class="text-left">
                                <li>kókuszzsír</li>
                                <li>fahéj</li>
                                <li>sertészsír</li>
                                <li>extra szűz olivaolaj</li>
                                <li>kakaóvaj</li>
                                <li>sheavaj</li>
                                <li>narancs illóolaj</li>
                                <li>disznózsír</li>
                                <li> Forralt vörösbor</li>
                                <li>napraforgóolaj</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted h6">Az Akcioink már csak 3 napig tart</small>
                        </div>
                        <a href="#" class="btn own_button border-0 float-right mr-3 mt-3 btn-primary">Érdekel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

