<div class="alert alert-danger text-center p-5 display-3" role="alert">
    Az oldal karbantartás allat 
   </div>
<div class="container mt-4">
    <div class="row">
        <div class="col ">

            <h1 class="text-center">Indítsuk a beszélgetést!</h1>

            <div class="container text-center">
                <p>Elsősorban írásban kommunikálunk!<br> Ezt bármikor megteheted a megadott email
                    címek bármelyikén.</p>
                <p>Válaszaink általában a gmail-es email címről fognak megérkezni hozzád, mert az
                    a gyűjtőcímünk, minden levél oda érkezik.<br> Amennyiben közvetlenebb kapcsolattartási formát
                    igényelsz,
                    szívesen vesszük a telefonhívásod!<br> Ha nem vesszük fel, próbálj hívni újra negyed óra múlva,
                    illetve
                    amint lehet, visszahívunk.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Hol kereshetsz minket?</h2>
            <h3 class="text-center">Barhol irhatsz nekunk nem harapunk</h3>
        </div>
    </div>
</div>

<div class="text-center ownx">
            <a href="#">
                <ion-icon class="text-danger mr-5" name="logo-facebook"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="text-danger  mr-5" name="logo-instagram"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="text-danger  mr-5" name="logo-pinterest"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="text-danger  mr-5" name="logo-twitter"></ion-icon>
            </a>
</div>